@font-face {
    font-family: 'zabras';
    src: url('/fonts/zabars.ttf') format('truetype');
}


body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('img/5_background/second_half_background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'zabras', Arial, Helvetica, sans-serif;
}

.d-none {
    display: none;
}

canvas {
    background-color: black;
    display: block;
}

#fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

h1 {
    font-size: 72px;
}

.start-img {
    height: 480px;
    width: 720px;
    position: absolute;
}

.startImgFullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.test {
    position: absolute;
    display: flex;
    align-items: flex-start;
    width: 720px;
    justify-content: flex-end;
}

.start-btn {
    font-size: 80px;
    margin: 0;
    margin-right: 200px;
    color: rgb(191,0,0);
}

.start-btn:hover {
    cursor: pointer;
    color: rgb(8,143,66);
}

.screen-btns {
    height: 30px;
    margin-top: 8px;
    margin-right: 16px;
}

.screen-btns:hover {
    cursor: pointer;
}


@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }
}